# Source common USB sample options used to initialize new experimental USB
# device stack. The scope of these options is limited to USB samples in project
# tree, you cannot use them in your own application.



source "samples/subsys/usb/common/Kconfig.sample_usbd"

source "Kconfig.zephyr"

# menu "Purple Pedal App options"

# config APP_VERSION_MAJOR
# 	int "Application firmware major version number"
#     default 0
#     range 0 $(UINT8_MAX)
# 	help
# 	  Use this to set firmware version number (major).

# config APP_VERSION_MINOR
# 	int "Application firmware minor version number"
#     default 0
#     range 0 $(UINT8_MAX)
# 	help
# 	  Use this to set firmware version number (minor).

# endmenu

module = APP
module-str = APP
source "subsys/logging/Kconfig.template.log_config"