#include <zephyr/dt-bindings/adc/ad7124-adc.h>
/ {
	hid_dev_0: hid_dev_0 {
		compatible = "zephyr,hid-device";
		label = "PurplePedal";
		protocol-code = "none";
		in-report-size = <64>;
		in-polling-period-us = <1000>;
	};

	aliases {
		pedal-adc = &adc_ad7124;
	};
};

// &dma1 {
// 	status = "okay";
// };
// &dmamux1 {
// 	status = "okay";
// };
// &spi2 {

//     dmas = <&dma1 2 1 (STM32_DMA_PERIPH_TX | STM32_DMA_PRIORITY_HIGH)>,
//             <&dma1 3 1 (STM32_DMA_PERIPH_RX | STM32_DMA_PRIORITY_HIGH)>;
// 	dma-names = "tx", "rx";
// 	status = "okay";
// };

&adc_ad7124 {
	#address-cells = <1>;
	#size-cells = <0>;
	spi-max-frequency = <1000000>;
    //pin definitions in zephyr/dt-bindings/adc/ad7124-adc.h
    //matches datasheet table 74: https://www.analog.com/media/en/technical-documentation/data-sheets/AD7124-4.pdf
	adc-mode = <0>;	//continuous mode
	power-mode = <2>;//high power mode
	refbuf-enable-mask=<7>;
	bipolar-mask=<7>; //bipolar mode allows input range 0~AVdd
	filter-type-mask=<7>;
	inbuf-enable-mask=<7>;
	channel@0 {
		reg = <0>;
		zephyr,gain = "ADC_GAIN_128";
		zephyr,reference = "ADC_REF_EXTERNAL0"; //ADC_REF_VDD_1 is also OK
		zephyr,acquisition-time = <ADC_ACQ_TIME(ADC_ACQ_TIME_TICKS, 1500)>;
		//zephyr,resolution=<16>;
		zephyr,differential;
		zephyr,input-positive = <AD7124_ADC_AIN1>; 
        zephyr,input-negative = <AD7124_ADC_AIN0>;
	};
	channel@1 {
		reg = <1>;
		zephyr,gain = "ADC_GAIN_128";
		zephyr,reference = "ADC_REF_EXTERNAL0";
		//zephyr,resolution=<16>;
		zephyr,acquisition-time = <ADC_ACQ_TIME(ADC_ACQ_TIME_TICKS, 1500)>;
		zephyr,differential;
		zephyr,input-positive = <AD7124_ADC_AIN3>; 
        zephyr,input-negative = <AD7124_ADC_AIN2>;
	};
    channel@2 {
		reg = <2>;
		zephyr,gain = "ADC_GAIN_128";
		zephyr,reference = "ADC_REF_EXTERNAL0";
		//zephyr,resolution=<16>;
		zephyr,acquisition-time = <ADC_ACQ_TIME(ADC_ACQ_TIME_TICKS, 1500)>;
		zephyr,differential;
		zephyr,input-positive = <AD7124_ADC_AIN5>; 
        zephyr,input-negative = <AD7124_ADC_AIN4>;
	};
};